/*  google fonts */
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Rubik+Vinyl&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*initial style*/
html, body {
    width: 100%;
    height: 100%;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    font-family: 'Asap', sans-serif;
    background-color: #664C52;
}
/*Title*/
header {
    background-color: #442e33;
    color: #F4EFDB;
    padding: 30px 0 30px 0;
    text-align: center;
    font-family: 'Rubik Vinyl', cursive;
    font-weight: 900;
    letter-spacing: 3px;
    align-items: center;
    justify-content: space-evenly;
}
.menu label {
    display: none
} 
.menu {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} 
.menu ul {
    display: flex;
    align-items: center;
}
.menu a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Asap', sans-serif;
    color: #5AD0E8;
}
.menu li {
    display: flex;
    align-items: center;
    color: #F4EFDB;
    margin-left: 14px;
    list-style: none;
    margin-top: 8px;
}
.menu a:hover {
    color: #FF424E;
}
#active {
    display: none;
}
/*Main Container where all the elements are in*/
.game-container {
    position: absolute;
    width: 70%;
    margin: 0 15%;
    min-height: 680px;
    background-color: #F4EFDB;
    border: 3px solid #442e33;
}
.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}
/*style name player, computer and scores */
.player{
    position: absolute;
    text-align: center;
    width: 25%;
    font-size: 24px;
    font-weight: 600;
    color: #442e33;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #442e33;    
}
.blue {
    background-color: #5AD0E8;
    left: 5%;
}

.red {
    background-color: #FF424E;
    right: 5%;
}
.score {
    display: flex;
    text-align:center;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 68px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 3px solid #442e33;
    font-family: 'Asap', sans-serif;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 7px;
}
/*style display*/
.display {
    height: 200px;
    margin-left: 2.5%;
    background-image: url(https://diegomoro415.github.io/Rock-Paper-Scissor-Lizard-Spock-Game//assets/images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 95%;
    border: 3px solid #442e33;

}
#player1 img {
    width: 69rem;
}
.move-chose div {
    width: 100%;
    text-align: center;
    min-height: 70px;
}
.move-chose div img {
    max-width: 100%;
}
.reverse {
    transform: scaleX(-1);
}
/*style buttons that user can play*/
h2 {
    font-family: 'Asap', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 30px 0;
    text-transform: capitalize;
}
.moves {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.moves img {
    max-width: 100%;
    transition: 0.5s;
}
.choices {
    position: relative;
}

[type=radio]{
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
[type=radio]:checked + button {
    background-color: #442e33;
}
[type=radio] + .btn {
    cursor: pointer;
    margin-right: 8px;
}
label {
    display: none;
}
.choices button {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}    
.choices button:hover{
   background-color: #442e33;
}

.choices button:hover > img {
    max-width: 80%; 
    
}
.btn-play, .btn-play:disabled:hover {
    width: 90%;
    padding: 10px;
    border: 2px solid #442e33;
    border-radius: 10px;
    background-color: #442e33;
    color:whitesmoke;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}
.btn-play:hover{
    background-color: whitesmoke;
    color: #442e33;
}
/*Style winner and loser screen*/
#winner {
    background-color:#442e33;
    background: whitesmoke;
    z-index: 999;
    width: 80%;
    height: 80%;
    margin: 8% 10%;
    border: 1px solid #442e33;

}
#loser {
    background-color: #442e33;
    background: whitesmoke;
    z-index: 999;    
    width: 80%;
    height: 80%;
    margin: 8% 10%;
    border: 1px solid #442e33;
}
.final-screen h3{
    color: #442e33;
    font-size: 35px;
    text-transform: uppercase;
}
.final-screen span{
    font-size: 38px;
}
.final-screen button {
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    border: none;
    background-color: #442e33;
    color: #F4EFDB;
    font-size: 18px;
    font-family: 'Asap', sans-serif;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
}
.center {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center h3 {
    margin: 35px;
}
.none {
    display: none;
}
/*Quiz Game*/
.quiz-game {
    display: block;
    font-family: 'Asap', sans-serif;
    background-color: #664C52 ;
    gap: 5px;
}
.quiz-header {
    width: 70%;
    margin: 0 15%;
    border: solid 3px #442e33;
}
.quiz-game  main {
    background-color: #F4EFDB;
    padding: 10px;
    width: 100%;
    max-width: 70%;
    min-height: 60%;
    margin: 0 15%;
    text-align: center;
}
#quiz-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
#num-question {
    text-align: end;
}
#question {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Asap', sans-serif;
    margin: 10px;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.answer {
    width: 90%;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background-color: #008CCC;
    color: whitesmoke;
    border: 1px solid #442e33;
    padding: 10px;
}
button.answer:hover {
    background-color: whitesmoke;
    color: #442e33;
}
#btn-end-screen {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #008CCC;
    color: white;
}

#end-screen-quiz {
    display: none;
    flex-direction: column;
    gap: 10px;
}

#end-quiz button {
    text-align: center;
}
/* feedback page */
.feedback {
    display: block;
    background-color: #664c52;
    width: 70%;
    height: 90%;
    margin: 0 15%;
}

.form-container {
    background-color: #F4EFDB;
    width: 100%;
    height: 100%;
}
.form-container form {
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-transform: capitalize;
    border-radius: 15px;
    font-size: 28px;
    color: #442e33;
}
.form-container h3 {
    text-align: center;
    font-size: 28px;
    color: #442e33;
}
.form-container form label {
    font-size: 20px;
    padding: 3px 0;
    margin: 5px 10%;
}
.form-container form input, textarea {
    padding: 8px;
    border-radius: 7px;
    width: 80%;
    height: 40px;
    margin: 5px 10%;
    font-size: 18px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
#message {
    font-size: 18px;
    width: 80%;
    margin: 5px 10%;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn-feedback {
    width: 80%;
    margin: 10px 10%;
    background-color: #008CCC;
    color: whitesmoke;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
}
/*404 Error*/
.error {
    width: 80%;
    margin: 10%;
}
.error-text {
    text-align: center;
    background-color: whitesmoke; 
}
.error-text img {
    width: 100%;
}
.error-text button {
    background-color: #FF424E;
    color: whitesmoke;
    margin: 20px;
    padding: 8px 45px;
    font-size: larger;
    border-radius: 7px;
}
.error-text button:hover {
    cursor: pointer;
    background-color: #912229;
}
/*set media querry*/
@media screen and (max-width:920px){
    
    h1 {
        font-size: 25px;
    }
    .menu a {
        font-size: 12px;
    }
    .game-container {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .container {
        padding: 10px 0;
    }
    .player {
        font-size: 18px;
        padding: 5px;
        width: 33%;
    }
    .blue {
        left: 1%;
        top: 30%;
    }
    .red {
        right: 1%;
        top: 30%;
    }
    .score {
        font-size: 33px;
        letter-spacing: 5px;
    }
    .display {
        height: 150px;
    }
    h2 {
        font-size: 24px;
        padding: 15px 0;
    }
    .choices button {
        width: 60px;
        height: 60px;
    }
    .choices button:hover > img {
        max-width: 100%;
    }
    .btn-play, .btn-play:disabled:hover {
        position: relative;
        margin-top: 20px;
    }
    /*Feedback Page*/
    .feedback {
        width: 90%;
        margin: 0 5%;
    }
    .form-container h3 {
        font-size: 20px;
    }
    .form-container form input, textarea {
        font-size: 12px;
    }
}